*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}

body{
    background: #CCC;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.quiz{
    display: grid;
    grid-template-rows: 60px auto;
    width: 600px;
    height: 500px;
    border-radius: 50px;
}

.quiz_header{
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #000;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.quiz_user{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
}

.quiz_body{
    padding: 20px 30px;
    background-color: white;
}

.option_group{
    list-style-type: none;
    margin: 30px 0;
}

.option{
    display: block;
    width: 300px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.4s all;
}

.option:hover{
    cursor: pointer;
    border: 2px solid #000000;
    color: #000099;
}

.option.active{
    background-color: #000000;
    color: #fff;
}

.btn-next{
    border: 2px solid #000000;
    padding: 15px 50px;
    background-color: limegreen;
    color: #fff;
    border-radius: 50px;
    transition: 0.4s all;
}

.btn-next:hover{
    cursor: pointer;
    background-color: lightgreen;
    color: #000;
}

.award_icon{
    display: block;
    font-size: 300px;
    color: #fff;
}

.username, .userpoints{
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.border{
    height: 500px;
    width: 500px;
    display: block;
    justify-content: center;
    margin: 0px 400px;
    border-radius: 10px;
    top: 100px;
    border-color: transparent;
}

.button {
  border: none;
  color: white;
  padding: 15px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
